@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Dosis', sans-serif !important;
    background: linear-gradient(to bottom, #574b90, #778beb);
    height: 100vh;
}

.img-social {
    width: 5rem;
    height: auto;
}


@media (max-width: 575.98px) {
    body {
        overflow: auto;
        height: auto;
        background-size: cover;
    }
}



@media (max-width: 767.98px) {}



@media (max-width: 991.98px) {}



@media (max-width: 1199.98px) {}