@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {

  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif !important;
  background: linear-gradient(to bottom,#916349,#c48562);
  height: 300vh;

}

.img-social{

  width: 4rem;
  height: auto;
}

.img-info{

  width: 3rem;
  height: auto;
}

.font {

  font-family: Georgia, 'Times New Roman', Times, serif;

}

.font2{

  font-size: xx-large;

}

.font3{

  font-size: xx-large;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

  body {

  overflow: auto;
  height: auto;
  background-size: cover;

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { } 

